# Server & Eureka
SERVER_PORT=8087
EUREKA_SERVER_URL=http://localhost:8761/eureka

# CORS Allowed Origins (Comma-separated)
CORS_ALLOWED_ORIGINS=http://localhost:4200

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=realtime-service

# Microsoft Entra ID (OIDC / JWT)
AZURE_ENTRA_ISSUER_URI=https://seatflow.ciamlogin.com/12345678-1234-1234-1234-123456789abc/v2.0
AZURE_ENTRA_CLIENT_ID=00000000-0000-0000-0000-000000000000
